/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "charybdis.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
	col-gpios
		= <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		;
};

// trackball bus
&spi0 {
	status = "okay"; //okay
	sck-pin = <8>; //old
    mosi-pin = <17>; //old
    miso-pin = <17>;//old same as mosi (3-wire spi)
	cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
};

&trackball {
	status = "okay";
	irq-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

/ {
	// Auto mouse layer behavior: toggle to layer 5 when trackball is moved
	ib_tog_layer: ib_tog_layer {
		compatible = "zmk,input-behavior-tog-layer";
		#binding-cells = <1>;
		time-to-live-ms = <2000>;  // Return to previous layer after 2 seconds of no movement
	};

	// Input listener for trackball
	trackball_listener: trackball_listener {
		compatible = "zmk,input-listener";
		device = <&trackball>;

		// Activate auto mouse layer on all layers
		input_config_0 {
			mode = "1";
			events = <0x02>;  // EV_REL
			x-input-code = <0x00>;  // REL_X
			y-input-code = <0x01>;  // REL_Y
			bindings = <&ib_tog_layer 5>;  // Toggle to layer 5 (mouse layer)
		};
	};
};
