#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#define CHARYBDIS_AUTO_POINTER_LAYER_TRIGGER_ENABLE
#define CHARYBDIS_AUTO_POINTER_LAYER_TRIGGER_TIMEOUT_MS 1000
#define AS(keycode) &as LS(keycode) keycode
&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <400>; // This is the value already set by default
};

/ {
    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&gresc          AS(N1)          AS(N2)          AS(N3)                  AS(N4)              AS(N5)              AS(N6)              AS(N7)              AS(N8)              AS(N9)                      AS(N0)              AS(EQUAL)
&kp TAB         AS(Q)           AS(W)           AS(E)                   AS(R)               AS(T)               AS(Y)               AS(U)               AS(I)               AS(O)                       AS(P)               AS(MINUS)
&kp LCTRL       AS(A)           AS(S)           AS(D)                   AS(F)               AS(G)               AS(H)               AS(J)               AS(K)               AS(L)                       AS(SEMI)            AS(SQT)
&kp LEFT_SHIFT  AS(Z)           AS(X)           AS(C)                   AS(V)               AS(B)               AS(N)               AS(M)               AS(COMMA)           AS(PERIOD)                  AS(SLASH)           AS(BACKSLASH)
                                &kp LALT  &kp LWIN  &kp DELETE       &mo 1   &kp ENTER
                                          &kp SPACE   &kp BACKSPACE    &to 2
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        layer_1 {
            bindings = <
&kp F1          &kp F2      &kp F3      &kp F4          &kp F5          &kp F6          &kp F7       &kp F8         &kp F9      &kp F10     &kp F11     &kp F12
&trans          &trans      &trans      &trans          &trans          &trans          &trans       &trans         &kp UP      &trans      &trans      &trans 
&trans          &trans      &trans      &trans          &trans          &trans          &trans       &kp LEFT       &kp DOWN    &kp RIGHT   &trans      &trans 
&trans          &trans      &trans      &trans          &trans          &trans          &trans       &trans         &trans      &trans      &trans      &trans
                                &trans   &trans   &trans                &trans          &trans 
                                              &trans    &trans          &trans 
            >;

            trackball-bindings = <&tsl>;
        };

       layer_2 {
            bindings = <
&to 0      &trans     &trans      &trans      &trans          &trans      &trans      &trans        &trans      &trans      &trans      &trans
&trans      &trans     &trans      &trans      &trans          &trans      &trans      &trans        &trans      &trans      &trans      &trans
&trans      &trans     &trans      &trans      &trans          &trans      &mkp MB4    &mkp LCLK   &mkp RCLK     &mkp MB5      &trans      &trans
&trans      &trans     &trans      &trans      &trans          &trans      &trans      &trans        &trans      &trans      &trans      &trans
                                   &trans      &trans          &trans      &trans      &to 0
                                               &trans           &trans      &trans
            >;

            trackball-bindings = <&tmv_coarse>;
        };
        /* layer_2 {
            bindings = <
&trans   &trans    &trans     &trans    &trans          &trans          &kp N1         &trans          &trans      &trans   &trans    &trans
&trans   &trans    &trans     &trans    &trans          &trans          &trans          &trans          &trans      &trans  &trans   &trans
&trans   &trans    &trans     &trans    &trans          &trans          &trans          &trans          &mkp LCLK     &mkp RCLK  &trans   &trans
&trans   &trans    &trans     &trans    &trans          &trans          &trans          &trans          &trans      &trans   &trans    &trans 
                                   &trans          &trans          &trans          &trans          &trans 
                                                 &trans          &trans          &trans 
            >;
          trackball-bindings = <&tsl>;
            
        };



        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
                trackball-bindings = <&tsl>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                trackball-bindings = <&tmv_fine>;
                
        };*/
    };
};
